html(lang=en)
  head
    block title
    link(rel="stylesheet", href="css/vendor/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="css/vendor/font-awesome/css/font-awesome.min.css")
  body
    block content
